<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Acadêmico</title>
</head>

<body>
    
    <header class="navbar">

        <nav class="navbar_menu">
            <a class="navbar_menu_item" href="home.htm">Home</a>
            <a class="navbar_menu_item" href="academico.htm">Acadêmico</a>
            <a class="navbar_menu_item" href="sobre.htm">Sobre</a>
            <a class="navbar_menu_item" href="contato.htm">Contato</a>

        </nav>

    </header>

    <main>
        <div class="instituicoes_de_ensino"> 
            <div class="titulo_academico_instituicoes">
                <h1>Instituições de ensino e cursos:</h1>
            </div>
            <div class="img_instituicoes de ensino">
                <img src="" class="img_univap" alt="">
                <img src="" class="img_kumon" alt="">
                <img src="" class="img_cestparti" alt="">
            </div>
        </div>
    
        <div class="habilidades">
            <div class="titulo_habilidades">
                <h1>Habilidades:</h1>
            </div>
            <div class="paragrafo_habilidade">
                <p>
                    Tenho um profundo interesse em comunicação, logo, falar outras línguas sempre foi algo importante para mim. Atualmente, falo três línguas, sendo elas Português, Inglês e Francês.
                    Prezo muito pela comunicação e empatia em todo tipo de relação, sendo assim, procuro sempre desenvolver isso em mim.
                </p>
            </div>
        </div>

        <div class="projetos">
            <div class="titulo_projetos">
                <h1>
                    Projetos desenvolvidos ou em desenvolvimento: 
                </h1>
                <div class="paragrafo_projetos">
                    <p>
                        Atualmente estou cursando Desenvolvimento de Software Multiplataforta e esses são alguns dos meus projetos, caso queira saber mais acesse o link para os repositórios correspondentes de cada projeto.
                    </p>
                </div>
            </div>
            <div class="card-container">
                <div class="card" style="width: 18rem;">
                    <img src="" alt="">
                    <div  class="card-body">
                        <h5 class="card-title">Portfólio pessoal</h5>
                        <a href="https://github.com/eberssj/portfolio_digital_dsm" class="btn btn-primary btn-custom" target="_blank">Acesse o repositório!</a>
                    </div>

                </div>
                <div class="card" style="width: 18rem;">
                    <img src="" alt="">
                    <div  class="card-body">
                        <h5 class="card-title">Projeto API II - 2023</h5>
                        <a href="https://github.com/TeamHiveAPI/API-2023.2" class="btn btn-primary btn-custom" target="_blank">Acesse o repositório!</a>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="" alt="">
                        <div  class="card-body">
                            <h5 class="card-title">Projeto - Unes</h5>
                            <a href="https://github.com/eberssj/desafioweb" class="btn btn-primary btn-custom" target="_blank">Acesse o repositório!</a>
                        </div>
                </div>
            </div>
        </div>
        
    </main>

</body>
</html>