<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Contato</title>
</head>
<body>
    
    <header class="navbar">

        <nav class="navbar_menu">
            <a class="navbar_menu_item" href="home.htm">Home</a>
            <a class="navbar_menu_item" href="academico.htm">Acadêmico</a>
            <a class="navbar_menu_item" href="sobre.htm">Sobre</a>
            <a class="navbar_menu_item" href="contato.htm">Contato</a>

        </nav>

    </header>

    <main>

        <div class="contatos">
            <div class="titulo_contatos">
                <h1>
                    Contatos:
                </h1>
                <div class="contato_linkedin">
                    <a href="https://www.linkedin.com/in/eber-junior-b2a4a3211/" target="_blank">Linkedin</a>
                    <img src="" alt="">
                </div>
                <div class="contato_github">
                    <a href="https://github.com/eberssj" target="_blank">Github</a>
                    <img src="" alt="">
                </div>
                <div class="contato_insta">
                    <a href="https://www.instagram.com/ebrnabs/?igshid=YTQwZjQ0NmI0OA%3D%3D" target="_blank">Instagram</a>
                </div>
                <div class="contato_email">
                    <a href="mailto:eberssjunior12@gmail.com">Email</a>
                    <img src="" alt="">
                </div>
            </div>
        </div>

    </main>

</body>
</html>