<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Home</title>
</head>
<body>
    
    <header class="navbar">

        <nav class="navbar_menu">
            <a class="navbar_menu_item" href="home.htm">Home</a>
            <a class="navbar_menu_item" href="academico.htm">Acadêmico</a>
            <a class="navbar_menu_item" href="sobre.htm">Sobre</a>
            <a class="navbar_menu_item" href="contato.htm">Contato</a>

        </nav>

    </header>

    <main>

        <div class="titulo_home">
            <h1>Seja bem vindo ao meu portfólio!</h1>
        </div>
        
        <img srcset="../static/img/foto_port200.jpeg 200w, ../static/img/foto_port500.jpeg 500w"
        sizes="(max-width: 600px) 250px, 400px"
        class="foto-minha" alt="foto minha">
        </div>

        <div class="texto_home">
            <p> 
                Meu nome é Eber Junior e esse é o meu portfólio pessoal. 
                Aqui você poderá encontrar todo tipo de informação sobre mim, como, meu histórico acadêmico, formas de contato, interesses pessoais e características sobre minha personalidade.
            </p>
        </div>

    </main>

</body>
</html>