<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Sobre</title>
</head>
<body>
    
    <header class="navbar">

        <nav class="navbar_menu">
            <a class="navbar_menu_item" href="home.htm">Home</a>
            <a class="navbar_menu_item" href="academico.htm">Acadêmico</a>
            <a class="navbar_menu_item" href="sobre.htm">Sobre</a>
            <a class="navbar_menu_item" href="contato.htm">Contato</a>

        </nav>

    </header>

    <main>
        <div class="informacoes_gerais">
            <div class="titulo_informacoes_gerais">
                <h1>
                    Informações gerais:
                </h1>
            </div>
            <div class="paragrafo_informacoes_gerais">
                <p>
                    Meu nome completo é Eber de Souza Silva Junior.
                    Nasci no dia 28/03/2005, tenho 18 anos.
                    Nasci em São José dos Campos, São Paulo.
                </p>
            </div>
        </div>

        <div class="interesses">
            <div class="titulo_interesses">
                <h1>
                    Interesses: 
                </h1>
            </div>
            <div class="paragrafo_interesses">
                <p>
                    Gosto muito de todo tipo de arte, principalmente música, obras audiovisuais e pintura.
                    Tenho também um grande apreço por filosofia e socoliogia. Pensar sobre a vida humana é algo que sempre me chamou atenção, por isso uma das minhas correntes filosóficas favoritas é o Existencialismo. 
                    Posso dizer que gosto muito de pessoas em geral, observar os comportamentos e estudá-los é algo intrigante! Sendo assim, eu estudo psicologia e corpotamento humano sempre que eu posso, principalmente as derivações das obras de Carl Jung. Uma dessas derivações que eu mais gosto é a teoria do MBTI.
                </p>
            </div>
        </div>

        <div class="filmes">
            <div class="titulo_filmes">
                <h1>
                    Filmes favoritos:
                </h1>
            </div>
            <div>
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
            </div>
        </div>

        <div class="artistas">
            <div class="titulo_artistas">
                <h1>Artistas favoritos:</h1>
            </div>
            <div>
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
            </div>
        </div>

    </main>

</body>
</html>